.App {
  text-align: center;
  width: 100%;
  font-style: normal;
  font-weight: normal;
}

#pageContent {
  width: 100%;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

a:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

#accessibilityContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  width: 442px;
  height: 699px;

  float: right;
  bottom: -240px;
  right: 20px;

  font-size: x-large;
}

#accessibilityBtnSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 442px;
  background-color: #edecec;
}

.accessibilityBtn {
  width: 200px;
  height: 180px;
  margin: 20px 0px;
  font-family: "OpenDyslexic2";
  font-size: 36px;

  background-color: #ffffff;
  outline: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#accessibilityText {
  width: 442px;
  height: 120px;
  font-size: 36px;
  background-color: #2f65a7;
  color: white;
  line-height: 120px;
}

#hideAccessBtn {
  width: 442px;
  height: 100px;
  font-size: 36px;
}

#showAccessBtnLarge {
  position: fixed;
  width: 270px;
  height: 140px;

  float: right;
  bottom: 20px;
  right: 20px;

  font-size: 36px;
  background-color: #2f65a7;
  border: 6px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}

#showAccessBtnSmall {
  position: fixed;
  width: 120px;
  height: 50px;

  float: right;
  bottom: 20px;
  right: 20px;

  background-color: #2f65a7;
  border: 4px solid #ffffff;

  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

#minimizeAccessButton {
  position: fixed;
  bottom: 136px;
  right: 266px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffcb05;
  border: 0;
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25); */
  /* border-radius: 40px; */

  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131516;
}

.toggleContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toggleIndicator {
  height: 10px;
  width: 50px;
  border-radius: 20px;
  margin: 0px 6px;
}
