button {
  width: 100px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #00274c;
}

.title {
  color: #ffffff;
  margin-left: 10px;
}

.michiganLogo {
  height: 40px;
}

.homePage {
  height: 100px;
  width: 200px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partnersButton {
  font-size: 24px;
  width: 180px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  color: #ffffff;
}

.contactButton {
  font-size: 24px;
  width: 180px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  color: #ffffff;
}

.joinWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinButton {
  width: 120px;
  height: 60px;
  background-color: #ffcb05;
}
