.PartnersPage {
  width: 100%;
  display: flex;
  background-color: #edecec;
}

.PartnersPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 100vh;
}

.SearchContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 900px;
  margin-top: 20px;
  height: 80px;
}

.SearchBarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SearchButton {
  padding: 20px;
  margin-right: 20px;
  width: 150px;
  min-width: 150px;
  background-color: white;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

#SearchPartner {
  height: 75.98px;
  width: 600px;
  padding-left: 10px;
  border: none;
}

.SearchClose {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  border: none;

  font-size: 36px;
}

.PartnersPageList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PartnersPageList Button {
  border: none;
  cursor: pointer;
}

.PartnerComponent {
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  background-color: white;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.PartnerInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  vertical-align: text-top;
  vertical-align: top;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.PartnerInfo p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.PartnerImage {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.PartnerName {
  font-style: normal;
  font-weight: 600;
  color: #00274c;
}

.PartnerDescription {
  font-style: normal;
}

#PartnerSidePanel {
  flex: 0 auto;
  width: 600px;
  background-color: #2f65a7;
  position: relative;
}

#PartnerSideClose {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #ffcb05;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;

  /* font-family: "Nunito Sans"; */
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131516;
}

#PartnerSideImage {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

#PartnerSideInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#PartnerSideName {
  font-family: "IBM Plex Sans Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  line-height: 62px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #ffcb05;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#PartnerSideDescription {
  font-style: normal;
  font-weight: normal;
  line-height: 38px;
  text-align: left;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  /* Text on Dark */

  color: #ffffff;
  margin: 0px;
}

#PartnerSideViewWebsite {
  width: 180px;
  height: 80px;
  background: #ffcb05;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131516;
  text-decoration: none;
}
